<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExercise Test Suite" verbose="1"
       parallel="classes" thread-count="3">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Smoke Tests">
        <packages>
            <package name="tests.smoke"/>
        </packages>
    </test>

    <test name="Auth Tests">
        <packages>
            <package name="tests.auth"/>
        </packages>
    </test>

    <test name="Product Tests">
        <packages>
            <package name="tests.products"/>
        </packages>
    </test>

    <test name="Cart Tests">
        <packages>
            <package name="tests.cart"/>
        </packages>
    </test>

    <test name="Checkout Tests">
        <packages>
            <package name="tests.checkout"/>
        </packages>
    </test>

    <test name="Misc Tests">
        <packages>
            <package name="tests.misc"/>
        </packages>
    </test>

    <test name="API Tests">
        <packages>
            <package name="tests.api"/>
        </packages>
    </test>

    <test name="Network Interception Tests">
        <packages>
            <package name="tests.network"/>
        </packages>
    </test>

</suite>
